@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700,900');

body {
    font-size: 1.5em;
    line-height: 1.5;
    color: #404040;
    background: #fff;
    font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

footer {
    font-family: 'Lato', sans-serif;
    margin: -20px 0 40px 0;
}

.container {
    max-width: 660px;
}

.content {
    font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

h1 { font-size: 28px; }

hr {
    overflow: auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.underline {
    border-bottom: 1px dotted;
    opacity: 0.8;
}

.underline:hover{
    color: black;
    border-bottom-style: solid;
}

header {
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    display: block;
}

header h1 {
    float: left;
    background: #f22613;
    font-family: 'Inconsolata', monospace;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    padding: 0 2px 0 2px;
}

.nav {
    float: right;
}

.nav li {
    margin-left: 10px;
    display: inline;
    list-style-type: none;
    opacity: 0.5;
}

.nav li:hover {
    opacity: 1;
}
